* {
	margin: 0;
	padding: 0;
}

.clearfix:after {
	content: '';
	display: table;
	clear: both;
}

.clearfix {
	*zoom: 1;
}

h2{
	text-align: center;
	padding: 5px 0;
}

/*两栏布局-左侧占30%宽度 右侧占70%宽度*/
.left-float1 {
	float: left;
	width: 30%;
	height: 100px;
	background-color: #33FFFF;
}

.right-float1 {
	float: right;
	width: 70%;
	height: 100px;
	background-color: #CCFF33;
}

/*两栏布局-左侧固定宽度 右侧根据浏览器宽度进行自适应变化*/

.main {
	box-sizing: content-box;
}

.left-float2 {
	float: left;
	box-sizing: border-box;
	width: 200px;
	height: 100px;
	background-color: #33FFFF;
}

.right-float2 {
	float: left;
	box-sizing: border-box;
	height: 100px;
	width: calc(100% - 200px);
	background-color: #CCFF33;
}

/*两栏布局-右侧固定宽度，左侧根据浏览器宽度进行自适应变化*/

.left-float3 {
	float: left;
	box-sizing: border-box;
	height: 100px;
	width: calc(100% - 200px);
	background-color: #33FFFF;
}

.right-float3 {
	float: left;
	box-sizing: border-box;
	width: 200px;
	height: 100px;
	background-color: #CCFF33;
}

/*三栏布局-左侧固定宽度，右侧固定宽度，中间部分宽度随浏览器宽度变化而自适应变化*/

.left-float4 {
	width: 200px;
	height: 100px;
	background-color: #33FFFF;
	float: left;
}

.right-float4 {
	width: 200px;
	height: 100px;
	background-color: #CCFF33;
	float: right;
}

.center-float4 {
	height: 100px;
	background-color: #33FF33;
}

/*三栏布局-左侧固定宽度，中间固定宽度，右侧根据浏览器宽度变化而自适应变化*/
.left-float5 {
	width: 200px;
	height: 100px;
	background-color: #33FFFF;
	float: left;
}

.right-float5 {
	height: 100px;
	background-color: #CCFF33;
}

.center-float5 {
	width: 200px;
	height: 100px;
	background-color: #33FF33;
	float: left;
}

/*position实现布局*/
/*两栏布局-左侧占30%宽度 右侧占70%宽度*/
.line {
	text-align: center;
	padding: 10px 0;
}

.left-position1 {
	position: absolute;
	width: 30%;
	height: 100px;
	background-color: red;
}

.right-position1 {
	height: 100px;
	margin-left: 30%;
	background-color: yellow;
}

/*两栏布局-左侧固定宽度 右侧根据浏览器宽度进行自适应变化*/

.left-position2 {
	position: absolute;
	width: 200px;
	height: 100px;
	background-color: red;
}

.right-position2 {
	height: 100px;
	margin-left: 200px;
	background-color: yellow;
}

/*两栏布局-右侧固定宽度，左侧根据浏览器宽度进行自适应变化*/

.wrap {
	position: relative;
}

.left-position3 {
	height: 100px;
	margin-right: 200px;
	background-color: red;
}

.right-position3 {
	position: absolute;
	width: 200px;
	height: 100px;
	right: 0;
	top: 0;
	background-color: yellow;
}

/*三栏布局-左侧固定宽度，右侧固定宽度，中间部分宽度随浏览器宽度变化而自适应变化*/

.left-position4 {
	width: 200px;
	height: 100px;
	position: absolute;
	left: 0;
	background-color: red;
}

.right-position4 {
	width: 200px;
	height: 100px;
	position: absolute;
	right: 0;
	background-color: yellow;
}

.center-position4 {
	height: 100px;
	margin: 0 200px;
	background-color: green;
}

/*三栏布局-左侧固定宽度，中间固定宽度，右侧根据浏览器宽度变化而自适应变化*/

.left-position5 {
	width: 200px;
	height: 100px;
	position: absolute;
	left: 0;
	background-color: red;
}

.center-position5 {
	height: 100px;
	width: 200px;
	position: absolute;
	left: 200px;
	background-color: green;
}

.right-position5 {
	height: 100px;
	margin-left: 400px;
	background-color: yellow;
}

/*用flexbox*/
/*两栏布局-左侧占30%宽度 右侧占70%宽度*/

.container {
	display: -webkit-flex;
	display: flex;
}

.left-flexbox1 {
	-webkit-flex: 3;
	flex: 3;
	height: 100px;
	background-color: #5555FF;
}

.right-flexbox1 {
	-webkit-flex: 7;
	flex: 7;
	height: 100px;
	background-color: #D28EFF;
}

/*两栏布局-左侧固定宽度 右侧根据浏览器宽度进行自适应变化*/

.left-flexbox2 {
	-webkit-flex: none;
	flex: none;
	width: 200px;
	height: 100px;
	background-color: #5555FF;
}

.right-flexbox2 {
	-webkit-flex: 1;
	flex: 1;
	height: 100px;
	background-color: #D28EFF;
}

/*两栏布局-右侧固定宽度，左侧根据浏览器宽度进行自适应变化*/

.left-flexbox3 {
	-webkit-flex: 1;
	flex: 1;
	height: 100px;
	background-color: #5555FF;
}

.right-flexbox3 {
	-webkit-flex: none;
	flex: none;
	width: 200px;
	height: 100px;
	background-color: #D28EFF;
}

/*三栏布局-左侧固定宽度，右侧固定宽度，中间部分宽度随浏览器宽度变化而自适应变化*/

.left-flexbox4 {
	-webkit-flex: none;
	flex: none;
	width: 200px;
	height: 100px;
	background-color: #5555FF;
}

.center-flexbox4 {
	-webkit-flex: 1;
	flex: 1;
	height: 100px;
	background-color: #77DDFF;
}

.right-flexbox4 {
	-webkit-flex: none;
	flex: none;
	width: 200px;
	height: 100px;
	background-color: #D28EFF;
}

/*三栏布局-左侧固定宽度，中间固定宽度，右侧根据浏览器宽度变化而自适应变化*/

.left-flexbox5 {
	-webkit-flex: none;
	flex: none;
	width: 200px;
	height: 100px;
	background-color: #5555FF;
}

.center-flexbox5 {
	-webkit-flex: none;
	flex: none;
	width: 200px;
	height: 100px;
	background-color: #77DDFF;
}

.right-flexbox5 {
	-webkit-flex: 1;
	flex: 1;
	height: 100px;
	background-color: #D28EFF;
}